.about {
    width: 300px;

   
    
        font-weight: normal;
        font-style: ;
        letter-spacing: 1px;
        
        font-family: 'Montserrat', sans-serif;
    
    }
.about  {
 text-transform:uppercase ;
}    
